Predicting Higher Salary

In [5]:
from path import Path
import pandas as pd

In [6]:
#Load the data
data = Path('./data_cleaned_2021.csv')
salary= pd.read_csv(data)
salary.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,...,0,0,1,1,0,0,0,data scientist,na,M
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,...,0,0,0,0,0,0,0,data scientist,na,M
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,...,0,0,0,0,0,0,0,data scientist,na,M
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,...,0,0,0,0,0,0,0,data scientist,na,na
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,...,0,0,0,0,0,0,0,data scientist,na,na

Preprocessing the Data

In [ ]:
salary = salary.drop(columns=["Job Title", "Salary Estimate", "Job Description", "Rating", "Company Name", "Location",
                             "Headquarters", "Size", "Founded", "Type of ownership", "Sector", "Revenue", "Competitors",
                             "Hourly", "Employer provided", "Lower Salary", "Upper Salary", "company_txt",
                             "Age", "job_title_sim", "seniority_by_title", "Degree"])

Separate the Features(X) from the Target(Y)

In [3]:
# Create our features 
X = salary.drop(columns="Avg Salary(K)")

X= pd.get_dummies(X)

# Create our target 
y = salary["Avg Salary(K)"]

Split our data into training and testing

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

Create a Logistic Regression Model

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

Fit(train) or model using the training data

In [ ]:
classifier.fit(X_train, y_train)

Make Predictions